In [25]:
import os
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt

In [26]:
# RAWS data
#  Santa Cruz Island
path = '/home/sbarc/wrf/wrf401/channel/stations/'
file = 'SNCC1.2023-09-01.csv'

dd = pd.read_csv(os.path.join(path, file), skiprows=11)

In [27]:
#  Note: time stamp is in a column here
#  to resample data, time stamp is set as an index

#  grab time and convert to PST time
xtime  = pd.DataFrame({'Time (PST)':pd.to_datetime(dd.iloc[:,1],utc=True)})
xtime  = xtime['Time (PST)'].dt.tz_convert('US/Pacific')
# create dictionary
data = {'time (PST)':xtime,
        'air temperature (C)':dd.iloc[:,3],
        'relative humidity (%)':dd.iloc[:,4],
        'wind speed (m/s)':dd.iloc[:,5],
        'wind direction (deg)':dd.iloc[:,6],
        'wind gust (m/s)':dd.iloc[:,7]}



# create data frame
disl = pd.DataFrame(data)
disl['time (PST)'] = disl['time (PST)'].dt.tz_localize(None)

disl

,time (PST),air temperature (C),relative humidity (%),wind speed (m/s),wind direction (deg),wind gust (m/s)
0,1999-12-02 10:25:00,18.89,39.0,1.34,300.0,5.81
1,1999-12-02 11:25:00,20.00,41.0,0.46,230.0,4.01
2,1999-12-02 12:25:00,18.89,35.0,4.48,280.0,8.03
3,1999-12-02 13:25:00,19.44,34.0,5.81,290.0,11.63
4,1999-12-02 14:25:00,19.44,36.0,5.35,290.0,11.63
...,...,...,...,...,...,...
194219,2023-08-31 12:13:00,25.00,63.0,1.79,165.0,4.47
194220,2023-08-31 13:13:00,25.56,61.0,1.34,227.0,4.47
194221,2023-08-31 14:13:00,23.89,66.0,2.23,115.0,5.37
194222,2023-08-31 15:13:00,25.56,56.0,1.79,18.0,6.26
194223,2023-08-31 16:13:00,25.00,58.0,1.79,27.0,4.47

In [29]:
#### Round each to the nearest hour ####
disl['time (PST)'] = disl['time (PST)'].dt.round('H')

In [32]:
disl.head()

,time (PST),air temperature (C),relative humidity (%),wind speed (m/s),wind direction (deg),wind gust (m/s)
0,1999-12-02 10:00:00,18.89,39.0,1.34,300.0,5.81
1,1999-12-02 11:00:00,20.00,41.0,0.46,230.0,4.01
2,1999-12-02 12:00:00,18.89,35.0,4.48,280.0,8.03
3,1999-12-02 13:00:00,19.44,34.0,5.81,290.0,11.63
4,1999-12-02 14:00:00,19.44,36.0,5.35,290.0,11.63

In [33]:
disl.describe()

,air temperature (C),relative humidity (%),wind speed (m/s),wind direction (deg),wind gust (m/s)
count,193616.000000,193694.000000,193828.000000,176767.000000,193529.000000
mean,15.775441,65.583191,1.293865,197.344680,3.641739
std,6.283822,23.285234,1.599499,101.012028,3.099272
min,-10.720000,1.000000,0.000000,0.000000,0.000000
25%,11.110000,49.000000,0.000000,95.000000,1.340000
50%,15.000000,68.000000,0.900000,240.000000,3.130000
75%,20.000000,86.000000,1.790000,284.000000,4.920000
max,47.780000,100.000000,42.020000,360.000000,41.570000

In [31]:
#### Save out #####
outdir = '~/data/preprocessed'
outfname = 'RAWS_SCI_hourly.csv'
disl.to_csv(os.path.join(outdir, outfname))